<mat-form-field appearance="fill">
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Buscar...">
  </mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="CodUsuario">
      <th mat-header-cell *matHeaderCellDef style="font-size: 12;"> Codigo Usuario </th>
      <td mat-cell *matCellDef="let element"> {{element.CodUsuario}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.Nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="Estado">
        <th mat-header-cell *matHeaderCellDef> Estado </th>
        <td mat-cell *matCellDef="let element"> {{element.Estado}} </td>
    </ng-container>

    <ng-container matColumnDef="FechaInicio">
        <th mat-header-cell *matHeaderCellDef> FechaInicio </th>
        <td mat-cell *matCellDef="let element"> {{element.FechaInicio}} </td>
    </ng-container>

    <ng-container matColumnDef="FechaFin">
        <th mat-header-cell *matHeaderCellDef> FechaFin </th>
        <td mat-cell *matCellDef="let element"> {{element.FechaFin}} </td>
    </ng-container>
  
    <!-- Header de la tabla -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <!-- Filas de la tabla -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
  </table>
  
