<div class="login-container">
    <mat-card appearance="outlined">
      <mat-card-title>Sign In</mat-card-title>
      <mat-divider></mat-divider>
      <br><br>
      <mat-card-content>
        <!-- <form [formGroup]="loginForm" >             -->

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Usuario</mat-label>
            <input style="height: 20px;" matInput placeholder="Ingrese su usuario">
            <mat-icon matSuffix>account_circle</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Contraseña</mat-label>
            <input type="password" matInput placeholder="Ingrese su contraseña">
            <mat-error *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched">
                Contraseña requerida
            </mat-error>
            <mat-icon matSuffix>https</mat-icon>
          </mat-form-field>
          
          <button class="stylebutton" 
          style="background-color: #1366a4; color: white;"  mat-raised-button type="submit" (click)="VerficarUsuario()">Sign In</button>
        <!-- </form> -->
         <br><br><br>
        <mat-divider></mat-divider>
        <br>
        <mat-card-title style="font-size: 10px;">&copy; 2024 Propiedad intelectual de Alfa-Arcano Software 
          <br><img src="assets/logo_emp2.png" alt="Usuario" width="50" height="50"></mat-card-title>
        
        
      </mat-card-content>
    </mat-card>
  </div>
  
