<mat-sidenav-container class="example-container">

  <mat-sidenav #sidenav mode="side" opened style="background-color: #252b3b">
    <mat-nav-list style="padding: 16px; color: white; font-size: 12px;">
      
      <!-- Logo y nombre de la empresa -->
      <mat-toolbar style="background-color: #252b3b; color: white;">
        <span>A. Arcano Soft.</span>
      </mat-toolbar>
      
      <!-- Divider -->
      <mat-divider style="background-color: #494848;"></mat-divider>
  
      <!-- Imagen del usuario -->
      <img src="assets/logo_emp1.png" alt="Usuario" width="80" style="display: block; margin: 16px auto;" >
  
      <!-- Información del usuario -->
      <div style="padding-bottom: 16px;">
        <span>Luis Quisbert Lima</span><br>
        <span>lquisbert&#64;aarcano.com.bo</span>
      </div>
  
      <!-- Divider -->
      <div style="padding-top: 16px; padding-bottom: 16px;">
        <mat-divider style="background-color: #494848;"></mat-divider>
      </div>
  
      <!-- Botones de navegación -->
      <button mat-button style="color: white;">Dashboard</button><br>
      <button mat-button style="color: white;">Ajustes</button><br>
      <button mat-button style="color: white;">Cerrar Sesión</button>
    
    </mat-nav-list>
  </mat-sidenav>
  

    <mat-sidenav-content>
      <!-- Contenido principal de la aplicación -->
      <mat-toolbar style=" background-color: #1366a4; color: white;">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Incio</span>
        <span class="example-spacer"></span>
        <button mat-icon-button>
          <mat-icon>chat</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>notifications_active</mat-icon>
        </button>
        <!-- <img src="assets/user.png" alt="Usuario" width="30" style="padding-top: 16px; padding-bottom: 16px;"> -->
      </mat-toolbar>

      <div style="height: 100%; padding: 16px;">

        <div class="menu-container">
          <button mat-button (click)="selectComponent('inventarios')">
            <mat-icon>list_alt</mat-icon> Inventarios
          </button>
          <button mat-button (click)="selectComponent('usuarios')">
            <mat-icon>key_vertical</mat-icon> Usuarios
          </button>
          <button mat-button (click)="selectComponent('clientes')">
            <mat-icon>group</mat-icon> Nuestros Clientes
          </button>
          <button mat-button (click)="selectComponent('productos')">
            <mat-icon>event_note</mat-icon> Nuestros Productos
          </button>
          <button mat-button (click)="selectComponent('sucursales')">
            <mat-icon>storefront</mat-icon> Sucursales
          </button>
          <button mat-button (click)="selectComponent('mapa')">
            <mat-icon>map</mat-icon> Mapas
          </button>
        </div>

        <div class="content-container">
          <app-inventarios *ngIf="selectedComponent === 'inventarios'"></app-inventarios>
          <app-usuarios *ngIf="selectedComponent === 'usuarios'"></app-usuarios>
          <app-clientes *ngIf="selectedComponent === 'clientes'"></app-clientes>
          <app-productos *ngIf="selectedComponent === 'productos'"></app-productos>
          <app-sucursales *ngIf="selectedComponent === 'sucursales'"></app-sucursales>
          <app-mapa *ngIf="selectedComponent === 'mapa'"></app-mapa>
        </div>
      </div>   
    </mat-sidenav-content>
  </mat-sidenav-container>
