<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" opened style="background-color: #252b3b">      
      <mat-nav-list style=" padding: 16px; color: white; font-size: 10;">

        <mat-toolbar style="background-color: #252b3b; color: white;">
          <span>Delizia</span>
        </mat-toolbar>

        <img src="assets/user.png" alt="Usuario" width="50">
        <div>
          Luis Quisbert Lima
          <br>
          lquisbert.hansa.com.bo
        </div>
        
        

        <a mat-list-item href="#">Opción 1</a>
        <a mat-list-item href="#">Opción 2</a>
        <a mat-list-item href="#">Opción 3</a>
      </mat-nav-list>
    </mat-sidenav>
    
    <mat-sidenav-content>
      <!-- Contenido principal de la aplicación -->
      <mat-toolbar style=" background-color: #1366a4; color: white;">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Incio</span>
      </mat-toolbar>
      <div style="height: 100%;">
        <!-- Resto del contenido -->
        <p>Aquí va el contenido de la aplicación</p>
        <p>Aquí va el contenido de la aplicación</p>
        <p>Aquí va el contenido de la aplicación</p>
        <p>Aquí va el contenido de la aplicación</p>
        <p>Aquí va el contenido de la aplicación</p>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  